@charset "utf-8";
/* CSS Document */

#main_page { margin:0 auto; width:960px;}
table {border:1px solid #090;}
#main_body {
	height: 600px;	
	width: 800px;
	left: 300px;
	top: 50px;
	background-color:#7A678F;
    position: relative;	
	}
	#a{
	font-size:18px;
	left: 50px;
	top: -7px;
    position: relative;	
	}
	#b{
	font-size:39px;
	left: 305px;
	top: 10px;
    position: relative;	
}

#container{ top:50px; width:500px; height:500px; left:400px; position:absolute;}
#menu{ top:5px; width:500px; height:500px; left:600px; position:absolute;}